@font-face {
  font-family: 'Ringbearer';
  src: url(../fonts/Ringbearer.ttf);
}

@font-face {
  font-family: 'Hobbiton';
  src: url(../fonts/HobbitonBrushhand.ttf);
}

@font-face {
  font-family: 'Anir';
  src: url(../fonts/anir.ttf);
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(237, 228, 159, 0.7), rgba(237, 228, 159, 0.7)), url(../images/map.webp);
  background-size: cover;

}

#title {
  background-image: url(../images/title.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid gold;
  border-style: ridge;
  height: 15vh;
  width: 70vh;
  margin: 20px;
}

/* h1 {
  background-color: #017100;
  padding: 50px;
  font-family: Ringbearer;
  font-size: 50px;
} */

main {
  width: 100vh;

  display: flex;
  align-items: center;
  flex-direction: row;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 70vh;
  border: 6px solid gold;
  border-style: ridge;
  background-image: linear-gradient(rgba(1, 113, 0, 0.9), rgba(1, 113, 0, 0.6)), url(../images/Leaves\ of\ Lorien.jpeg);
  background-repeat: repeat;
  padding: 20px;


  font-family: 'Anir', serif;
  font-size: 1.5vh;
  color: gold;
}

#start {
  margin-top: 10px;
  padding: 30px 15px;
  border: 3px solid gold;
  border-radius: 70px;
  box-shadow: 1px 1px 5px rgb(15, 57, 20);
  /* background-color: #9ac12e; */
  background-image: linear-gradient(rgba(131, 166, 34, 0.7), rgba(131, 166, 34, 0.7)), url(../images/door\ rune.jpg);
  background-size: cover;
  font-family: Ringbearer;
  font-size: 1.2rem;
  color: #012e00;
  text-shadow: 2px 2px 4px gold;
  cursor: pointer;
}

#reset {
  padding: 20px 20px;
  border: 2px solid gold;
  border-style: ridge;
  box-shadow: 1px 1px 5px rgb(15, 57, 20);
  background-color: transparent;
  font-family: Ringbearer;
  font-size: 0.8rem;
  margin-bottom: 70px;
  color: gold;
  cursor: pointer;
}

.grid {
  /* background-image:linear-gradient(rgba(165, 163, 71, 0.486), rgba(165, 163, 71, 0.486)),  url(../images/seamless-grass.jpeg); */
  border: 6px solid gold;
  border-style: ridge;
  position: relative;
  display: flex;
  width: 70vh;
  height: 70vh;
  flex-wrap: wrap;
  margin: 10px;
}

.grid div:not(#gameOver):not(#gameWon):not(#next) {
  background-image: url(../images/20220720_130047_0000.png);
  background-size: cover;
  height: 10%;
  width: 10%;
  border: none;

}

#gameOver {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-image: url(../images/gameOver.jpg);
  background-size: cover;
  text-align: center;
  font-family: Ringbearer, sans-serif ;
  color: rgb(255, 60, 0);
  padding: 30px;
}

#gameOver.show {
  display: block;

}

#gameWon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-image: url(../images/gameWon.png);
  background-size: cover;
}

#gameWon.show {
  display: block;
}

#next {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-image: url(../images/nextLevel.png);
  background-size: cover;
}

#next.show {
  display: block;
}




/* ANIMATION */


.player {
  background-image: url(../images/playerlego.png) !important;
  background-size: cover;
}

.orc {
  background-image: url(../images/orc\ lighter.png) !important;
  background-size: cover;
}

.nazgul {
  background-image: url(../images/nazgul.png) !important;
  background-size: cover;
}

.explosion {
  background-image: url(../images/explosionGrass.png) !important;
  background-size: cover;
}

.laser {
  background-image: url(../images/laserArrow.jpg) !important;
  background-size: cover;
}

.bomb {
  background-image: url(../images/bombArrow.jpeg) !important;
  background-size: cover;
}

.spear {
  background-image: url(../images/spear.png) !important;
  background-size: cover;
}